<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="dns-prefetch" href="//img.example.com">
    {{> css }}
    {{{block 'css'}}}
</head>
<body>
<div id="page">
    {{> header }}
    <div id="content">
        {{{body}}}
    </div>
    {{> footer }}
</div>
{{> js }}
{{{block 'js'}}}
</body>
</html>
