{{#registrations}}
    <div class="heading">报名100人，已入选10人</div>
    <div class="users">
        <a class="clearfix" href="/registration/users/{{post.slug}}">
            <img src="http://tp3.sinaimg.cn/1639111910/180/5719548796/1" alt="">
            <img src="http://tp3.sinaimg.cn/1639111910/180/5719548796/1" alt="">
            <img src="http://tp3.sinaimg.cn/1639111910/180/5719548796/1" alt="">
            <img src="http://tp3.sinaimg.cn/1639111910/180/5719548796/1" alt="">
            <img src="http://tp3.sinaimg.cn/1639111910/180/5719548796/1" alt="">
            <span class="iconfont icon-go"></span>
        </a>
    </div>
{{/registrations}}
{{^registrations}}
    <div class="heading">报名0人，已入选0人</div>
{{/registrations}}