{{> navbar }}
<div class="user-profile">
    <form method="post" class="form form-stacked" id="form">
        <fieldset class="group">
            <label>手机号码</label>
            <input type="text" name="mobile" id="mobile" class="input-1">
        </fieldset>
        <fieldset class="group">
            <label>真实姓名</label>
            <input type="text" name="realName" id="realName" class="input-1" maxlength="10">
        </fieldset>
        <button type="submit" class="button input-1 button-primary">保存资料</button>
    </form>
</div>