<div class="user">
    <div class="profile">
        <div class="avatar">
            <img src="http://wx.qlogo.cn/mmopen/Xewa2JUmZ1qSsVwZHibKxbK4qR8xQqWiacGnsB9vAoozDupkpjEsibfibCBpGTawofQ6Lc82TzOH7WrvQZWlxPiaotQ/0" alt="">
            <s></s>
        </div>
        <div class="nickname">严斌锋</div>
        <a href="/user/profile" class="action">编辑资料</a>
    </div>
    <ul class="menu-group">
        <li class="item">
            <a href="/user/registrations">
                <span class="iconfont icon-registration"></span>
                <span class="text">我的报名</span>
                <span class="iconfont icon-go"></span>
            </a>
        </li>
        <li class="item">
            <a href="/user/orders">
                <span class="iconfont icon-order"></span>
                <span class="text">我的订单</span>
                <span class="iconfont icon-go"></span>
            </a>
        </li>
        <li class="item">
            <a href="/user/favorites">
                <span class="iconfont icon-favorite"></span>
                <span class="text">我的收藏</span>
                <span class="iconfont icon-go"></span>
            </a>
        </li>
    </ul>
    <ul class="menu-group">
        <li class="item">
            <a href="/user/settings">
                <span class="iconfont icon-setting"></span>
                <span class="text">设置</span>
                <span class="iconfont icon-go"></span>
            </a>
        </li>
    </ul>
</div>
{{> tab }}
{{#contentFor 'css'}}
    <style>
        html {
            background-color: #f8f8f8;
        }
    </style>
{{/contentFor}}