.navbar-header {
  background-color: @primary;
  height: 86/@rem;
  position: relative;
}

.navbar-brand {
  line-height: 86/@rem;
  font-size: 24/@rem;
  color: white;
  text-decoration: none;
  padding: 0 30/@rem;
  position: absolute;
  left: 0;
  top: 0;
}

.navbar-back {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  padding: 0 20/@rem;
  position: absolute;
  left: 0;
  top: 0;

  .icon-back,
  .text {
    line-height: 86/@rem;
    float: left;
  }

  .icon-back {
    font-size: 32/@rem;
  }

  .text {
    font-size: 30/@rem;
  }

  &:hover {
    color: white;
  }
}

.navbar-title {
  color: white;
  font-size: 32/@rem;
  line-height: 86/@rem;
  text-align: center;
  position: absolute;
  left: 132/@rem;
  top: 0;
  right: 132/@rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 28/@rem 26/@rem;
  -webkit-user-select: none;
  user-select: none;

  .icon-bar {
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
    width: 40/@rem;
    height: 6/@rem;
    border-radius: 2/@rem;
  }

  .icon-bar + .icon-bar {
    margin-top: 6/@rem;
  }

  &:hover {

    .icon-bar {
      background-color: white;
    }
  }
}

.navbar-collapsed {
  background-color: white;

  .icon-bar {
    background-color: rgba(49, 189, 128, 0.9) !important;
  }
}

.navbar-collapse {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
  left: 0;
  top: 86/@rem;
  right: 0;
  z-index: 2147483647;
  overflow: hidden;
}

.navbar-nav {
  background-color: white;
  font-weight: bold;

  .item {
    border-bottom: 1px solid #e0e0e0;
  }

  a {
    color: #333;
    display: block;
    font-size: 30/@rem;
    line-height: 104/@rem;
    padding-left: 30/@rem;
    margin-right: 96/@rem;
    text-decoration: none;
  }
}

.navbar-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}