.post-registration {
  color: #666;

  .registration-entry {
    border-bottom: 1px solid #e0e0e0;
    line-height: 1.5em;
    padding: 24/@rem 24/@rem 12/@rem;
    position: relative;
  }

  .price {
    font-size: 0;

    u {
      color: #f60;
      font-size: 36/@rem;
      font-style: normal;
      text-decoration: none;
      margin-right: 18/@rem;
    }

    s {
      font-size: 30/@rem;
      text-decoration: none;
      margin-right: 10/@rem;
    }

    b {
      color: #f60;
      font-size: 30/@rem;
    }
  }

  .deadline {
    font-size: 0;

    b {
      font-size: 24/@rem;
      margin-right: 14/@rem;
    }

    i {
      font-size: 24/@rem;
      font-style: normal;
    }
  }

  .join {
    background-color: #ff7b33;
    color: white;
    font-size: 30/@rem;
    position: absolute;
    top: 24/@rem;
    right: 24/@rem;
    z-index: 1;
  }

  .registration-info {
    background-color: #f8f8f8;
    border-bottom: 24/@rem solid #f8f8f8;

    img {
      border: 1px solid #e0e0e0;
      border-radius: 33/@rem;
      width: 66/@rem;
      height: 66/@rem;
      margin-right: 20/@rem;
      overflow: hidden;
      float: left;
    }
  }

  .heading {
    border-bottom: 1px solid #e0e0e0;
    color: #a2a2a2;
    font-size: 24/@rem;
    line-height: 30/@rem;
    padding: 18/@rem 24/@rem;
  }

  .avatars {
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    padding: 20/@rem 24/@rem;
  }

  .icon-go {
    color: @primary;
    opacity: .8;
    display: inline-block;
    font-size: 32/@rem;
    line-height: 68/@rem;
    float: right;
  }
}