.post-content {
  color: #3e3e3e;
  font-size: 32/@rem;
  line-height: 1.6em;
  overflow: hidden;

  .heading {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
    color: #999;
    font-size: 24/@rem;
    line-height: 30/@rem;
    padding: 18/@rem 24/@rem;
  }

  .body {
    padding: 12/@rem 24/@rem;

    * {
      max-width: 100%;
      box-sizing: border-box;
      word-wrap: break-word;
      -webkit-box-sizing: border-box;
    }

    a {
      color: #607fa6;
      text-decoration: none;
    }

    blockquote {
      border-left: 3px solid #dbdbdb;
      margin: 0;
      padding-left: 10px;
    }

    em {
      font-style: italic;
    }

    fieldset {
      min-width: 0;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    p {
      clear: both;
      min-height: 1em;
      white-space: pre-wrap;
      margin: 0;
      padding: 12/@rem 0;
    }
  }
}