.tab {
  background: #fafafa;
  border-top: 1px solid #e0e0e0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 90/@rem;

  .item {
    float: left;
    width: 25%;

    a {
      color: #999;
      display: block;
      height: 90/@rem;
      padding-top: 10/@rem;
      text-align: center;
      text-decoration: none;
    }
  }

  .active {
    margin-top: -1px;

    a {
      background-color: @primary;
      color: rgba(255, 255, 255, 0.9);

      &:hover {
        color: white;
      }
    }

    .icon-home,
    .icon-explore,
    .icon-flag,
    .icon-user {
      margin-top: 1px;
    }
  }

  .icon-home,
  .icon-explore,
  .icon-flag,
  .icon-user {
    display: block;
    font-size: 40/@rem;
  }

  .icon-text {
    display: block;
    font-size: 20/@rem;
    padding-top: 2/@rem;
  }
}