<div class="navbar" id="navbar">
    <div class="navbar-header">
        {{#ifeq section 'home'}}
        <a class="navbar-brand" href="/">有个地</a>
        {{/ifeq}}
        {{^ifeq section 'home'}}
        <a class="navbar-back" href="/post/560a4df2140553b42e3be418">
            <span class="iconfont icon-back"></span>
        </a>
        <div class="navbar-title">{{title}}</div>
        {{/ifeq}}
        <div class="navbar-toggle" id="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
    </div>
    <div class="navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav">
            <li class="item"><a href="#">栏目</a></li>
            <li class="item"><a href="#">活动</a></li>
            <li class="item"><a href="#">关于</a></li>
        </ul>
        <div class="navbar-mask" id="navbar-mask"></div>
    </div>
</div>
