<div class="navbar" id="navbar">
    <div class="navbar-header">
        {{#ifeq section 'home'}}
            <a class="navbar-brand" href="/">有个地</a>
        {{/ifeq}}
        {{^ifeq section 'home'}}
            <a class="navbar-back" href="{{back}}">
                <span class="iconfont icon-back"></span>
            </a>
            <div class="navbar-title">{{title}}</div>
        {{/ifeq}}
        <div class="navbar-toggle" id="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
    </div>
    <div class="navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav">
            {{#navLinks}}
                <li class="item"><a href="{{href}}">{{text}}</a></li>
            {{/navLinks}}
            <li class="item"><a href="/user">我</a></li>
        </ul>
        <div class="navbar-mask" id="navbar-mask"></div>
    </div>
</div>
