<div class="post-carousel" id="post-carousel">
    <ul class="carousel-inner">
        {{#data.post.images}}
            <li class="item">
                <img src="{{url}}" alt="">
            </li>
        {{/data.post.images}}
    </ul>
    <div class="carousel-desc">已结束│爱意久久礼盒（进口食品组合）只需99元，宁波大市包邮</div>
</div>
