<div class="post-registration">
    <div class="registration-entry">
        <div class="price">
            <u>免费</u>
            <s>名额</s>
            <b>10</b>
        </div>
        <div class="deadline">
            <b>报名截止</b>
            <i>9月28日 10:00</i>
        </div>
        <a href="/registration/{{post._id}}" class="button join">我要报名</a>
    </div>
    <div class="registration-info">
        <div class="heading">报名100人，已入选10人</div>
        <div class="users">
            <a class="clearfix" href="#">
                <img src="http://tp3.sinaimg.cn/1639111910/180/5719548796/1" alt="">
                <img src="http://tp3.sinaimg.cn/1639111910/180/5719548796/1" alt="">
                <img src="http://tp3.sinaimg.cn/1639111910/180/5719548796/1" alt="">
                <img src="http://tp3.sinaimg.cn/1639111910/180/5719548796/1" alt="">
                <img src="http://tp3.sinaimg.cn/1639111910/180/5719548796/1" alt="">
                <span class="iconfont icon-go"></span>
            </a>
        </div>
    </div>
</div>