<div class="post-carousel" id="carousel">
    <ul class="carousel-inner clearfix">
        {{#post.images}}
            <li class="item">
                <img src="{{url}}" alt="">
            </li>
            <li class="item">
                <img data-src="https://img.alicdn.com/tps/TB1zZwmJFXXXXXhXVXXXXXXXXXX-520-280.jpg" alt="">
            </li>
        {{/post.images}}
    </ul>
    <div class="carousel-desc">已结束│爱意久久礼盒（进口食品组合）只需99元，宁波大市包邮</div>
</div>
