<ul class="post-utility">
    <li class="item clearfix">
        <span class="iconfont icon-time"></span>
        <span class="text">2015-10-01 ~ 2015-10-07 每天(09:00~21:00)</span>
    </li>
    <li class="item clearfix">
        <span class="iconfont icon-location"></span>
        <span class="text">宁波奉化滕头村</span>
    </li>
    <li class="item clearfix">
        <span class="iconfont icon-contact"></span>
        <span class="text">0571-81112938 (09:00~21:00)</span>
    </li>
</ul>