<div class="post-carousel" id="carousel">
    <ul class="carousel-inner clearfix">
        {{#post.images}}
            <li class="item">
                <img {{#if @index}}data-{{/if}}src="{{url}}" alt="">
            </li>
        {{/post.images}}
    </ul>
    <div class="carousel-desc">{{post.title}}</div>
</div>