{{#registrations}}
    <li class="item clearfix">
        <img src="http://tp3.sinaimg.cn/1639111910/180/5719548796/1" alt="">
        <b>wwf</b>
        <i>报名编号：{{_id}}</i>
    </li>
{{/registrations}}