<div class="registration-success">
    <div class="success-info">
        <span class="iconfont icon-success"></span>
        <div class="text">恭喜，报名成功！</div>
        <a href="/user/registration" class="button button-primary">查看我的报名</a>
    </div>
</div>