<div class="registration-users">
    <div class="heading clearfix">
        <a href="/registration/users/{{filters.post}}" class="item{{^isSelected}} selected{{/isSelected}}">已报名</a>
        <a href="/registration/users/{{filters.post}}?selected=true" class="item{{#isSelected}} selected{{/isSelected}}">已入选</a>
    </div>
    <ul class="users" id="users">
        {{> registration_item }}
    </ul>
    <div class="more" id="more" data-context="#users">
        <button type="button" class="button button-disabled">加载更多</button>
    </div>
</div>