<ul class="tab clearfix">
    <li class="item{{#ifeq section 'home'}} active{{/ifeq}}">
        <a href="/">
            <span class="iconfont icon-home"></span>
            <span class="icon-text">首页</span>
        </a>
    </li>
    <li class="item{{#ifeq section 'explore'}} active{{/ifeq}}">
        <a href="javascript:;">
            <span class="iconfont icon-explore"></span>
            <span class="icon-text">发现</span>
        </a>
    </li>
    <li class="item{{#ifeq section 'flag'}} active{{/ifeq}}">
        <a href="javascript:;">
            <span class="iconfont icon-flag"></span>
            <span class="icon-text">活动</span>
        </a>
    </li>
    <li class="item{{#ifeq section 'user'}} active{{/ifeq}}">
        <a href="/user">
            <span class="iconfont icon-user"></span>
            <span class="icon-text">我</span>
        </a>
    </li>
</ul>