<div class="registration-result">
    <span class="iconfont icon-success"></span>
    {{#if isSubmited}}
        <div class="text">您已报名，请勿重复提交！</div>
    {{else}}
        <div class="text">恭喜，报名成功！</div>
    {{/if}}
    <a href="/user/registration" class="button button-primary">查看我的报名</a>
</div>