{{#registrations}}
    <li class="item clearfix">
        <a href="/post/{{post._id}}">
            <b>{{post.title}}</b>
            <i>{{#date date format='YYYY-MM-DD HH:mm:ss'}}{{/date}}</i>
        </a>
    </li>
{{/registrations}}