<ul class="post-utility">
    <li class="item clearfix">
        <span class="iconfont icon-time"></span>
        <span class="text">时间：{{post.time}}</span>
    </li>
    <li class="item clearfix">
        <span class="iconfont icon-location"></span>
        <span class="text">地点：{{post.location}}</span>
    </li>
    <li class="item clearfix">
        <span class="iconfont icon-contact"></span>
        <span class="text">联系：{{post.contact}}</span>
    </li>
</ul>